@charset "utf-8";

@font-face {
    font-family: f1;
    src: url(fontes/bronco/BroncoPersonalUse.ttf);
}

@font-face {
    font-family: f2;
    src: url(fontes/romanus/ROMANUS.otf);
}

body{
    text-align: center;
    background-color: khaki;
    font-size: 35px;
}

button{
    font-size: 20px;
    border-radius: 6px;
    box-shadow: 5px 10px 15px black;
}

h1{
    color: darkslategrey;
    font-family: f1;
}

label{
    font-family: f2;
}

footer{
    font-size: 25px;
    color: lightslategrey;
    font-family: f1;
}

script{
    box-shadow: 5px 10px 15px black;
}